<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>index</title>
</head>
<body>
	<h2>Create Client</h2>
	<form action="/createClient" method="post">
		<label for="login">Login: </label> <br/>
		<input type="text" name="login"/> <br/>

		<label for="pass">Password: </label> <br/>
		<input type="password" name="pass"/> <br/>
		
		<p th:text="${client}">clients</p>
		
		<button type="submit">create</button>
	</form>

	<h2>Get Clients</h1>
	<form action="/getClients" method="get">
		<p th:text="${clients}">clients</p>
		<button type="submit">show</button>
	</form>
</body>
</html>